<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="icon" href="../../img/branding/favicon.png">
  </head>
  <body>
    <!--   Inicio Header   -->
    <%- include('../partials/header') %>
    <!--Fin Header-->

    <section class="container">
      <div class="table__search">
        <img src="../../img/icons/search_icon.svg" alt="icono de lupa" />
        <input type="search" placeholder="código,nombre o categoría" />
      </div>

      <div class="table__title">
        <h1 class="table__title--list">LISTADO DE PRODUCTOS</h1>
        <div class="table__title--agregar">
          <p>AGREGAR</p>
          <a class="" href="/admin/create">
            <img src="../../img/icons/mdi_plus-box.svg" alt="icono de plus" />
          </a>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Nombre del producto</th>
            <th>Categoría</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach( product => { %>
          <tr>
            <td data-title="ID"><%= product.product_id %></td>
            <td data-title="Código"><%= product.sku %></td>
            <td data-title="Nombre del producto"><%= product.product_name %></td>
            <td data-title="Categoría"><%= product.category_name %></td>
            <td>
              <div class="table__icons">
                <a class="table__icon" href="/admin/edit/<%= product.product_id %>">
                  <img
                    src="../../img/icons/edit_pencil.svg"
                    alt="icono de lapiz"
                  />
                </a>
                <form action="admin/delete/<%= product.product_id %>?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
                  <button class="table__icon" style="background-color: transparent;border: none;cursor:pointer;" type="submit" >
                    <img 
                    src="../../img/icons/delete_trash.svg"
                    alt="icono de tacho basura"
                  />
                  </button>
                </form>
          <!--      <a class="table__icon" href="../admin/edit.html">
                  <img
                    src="../../img/icons/delete_trash.svg"
                    alt="icono de tacho basura"
                  />
                </a>
                -->
              </div>
            </td>
          </tr>
          <% }); %>
            
        
        </tbody>
      </table>
    </section>

    <!--Footer-->
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
